{% extends "base.html" %} 
{% block content %}
{% load static %}

<marquee behavior="sliding" direction="left"><h2> Find for the Nearest Police Station, Hotel and Hospital </h2></marquee> <br>

<div class="container">
    <div class="direction-container">
    <div class="row">
        <div class="col-md-6">
           
           <h3>A humanitarian link <br> between the digital world <br> and disaster response</h3><br>
           <h5 id="help">NEED help <br> ZOIT HAS COME TO HELP</h5> <br>

           <h4>Click the button below to find the nearest hospital, police station or Hotel</h4> <br>
           <button class="btn btn-primary" type="submit">Report Accident</button>
           <button class="btn btn-primary" type="submit">Respond to Accident</button>
        </div>

        <div class="col-md-6">
           
            <img src="{% static 'img/app2.png' %}" alt="">
        </div>
    </div>
</div>
</div> 


{%endblock%}